# Core Modules
/assets/*
/framework
/cms
/sstweaks
/compactnavigator
/custommenus
/googlesitemaps
/userforms
/themes/simple/
/themes/kube/

# Additional modules
/abc-silverstripe-textcap
/auth-username
/blog
/casestudy
/carousel
/catalogue
/checkout
/comments
/discussions
/file-listing
/filterable
/forum
/gallery
/gridfield-bulk-editing-tools
/gridfieldextensions
/homepagefordomain
/middleman
/orders
/sessionmessenger
/silverstripe-scaled-uploads
/sitemap
/scaleduploads
/sortablefile
/subsites
/twitter
/users
/widgets

# System and build tools
/vendor
/buildtools
/docsviewer
/testsession
/tools/phing-metadata
/silverstripe-cache

# Project settings files
.buildpath
.project
.settings
.idea
.DS_Store
combinedfiles
_ss_environment.php
/.htaccess
/web.config
