assets/*
_ss_environment.php
cms/
framework/
themes/simple
carousel/
gallery/
compactnavigator/
custommenus/
sstweaks/
googlesitemaps/
userforms/
blog/
buildtools/
docsviewer/
testsession/
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
composer.lock
/.htaccess
/web.config
