# Core Modules
/assets/*
/framework
/cms
/sstweaks
/compactnavigator
/custommenus
/googlesitemaps
/userforms
/themes/simple/

# Additional modules
/abc-silverstripe-textcap
/blog
/carousel
/comments
/forum
/gallery
/gridfield-bulk-editing-tools
/gridfieldextensions
/middleman
/sessionmessenger
/sortablefile
/users
/widgets

# Commerce Modules
/commerce
/commerce-bulkorders

# System and build tools
/vendor
/buildtools
/docsviewer
/testsession
/tools/phing-metadata
/silverstripe-cache

# Project settings files
.buildpath
.project
.settings
.idea
.DS_Store
composer.lock
_ss_environment.php
/.htaccess
/web.config
